# version: "3.7"

services:
  # ==========================================
  # 1. NGINX - WEB PROXY
  # ==========================================
  nginx:
    image: "nginx:latest"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    
    # --- CẤU HÌNH GIỚI HẠN TÀI NGUYÊN ---
    deploy:
      resources:
        limits:
          # Chỉ cho phép dùng tối đa 128MB RAM. 
          # Nginx làm proxy tĩnh rất nhẹ, mức này là dư dả.
          memory: 128M
        reservations:
          # Đảm bảo luôn dành sẵn ít nhất 32MB cho service này khởi động.
          memory: 32M
    # ------------------------------------

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./ssl:/etc/nginx/ssl
    networks:
      - web-proxy
    depends_on:
      - fastapi
      - nextjs
    env_file:
      - .env.production
    command: /bin/sh -c "envsubst '$$DOMAIN_NAME' < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

  # ==========================================
  # 2. FASTAPI - BACKEND
  # ==========================================
  fastapi:
    build:
      context: ./finext-fastapi
      dockerfile: Dockerfile
    restart: always

    # --- CẤU HÌNH GIỚI HẠN TÀI NGUYÊN ---
    deploy:
      resources:
        limits:
          # Giới hạn cứng 256MB.
          # Với API cá nhân ít request, Python chạy ổn ở mức này.
          # Giúp tiết kiệm RAM cho Database.
          memory: 384M
        reservations:
          memory: 64M
    # ------------------------------------

    networks:
      - web-proxy
    env_file:
      - .env.production

  # ==========================================
  # 3. NEXTJS - FRONTEND
  # ==========================================
  nextjs:
    build:
      context: ./finext-nextjs
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL_ARG=${NEXT_PUBLIC_API_URL}
        - NEXT_PUBLIC_GOOGLE_CLIENT_ID_ARG=${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
        - NEXT_PUBLIC_SYSTEM_LICENSE_KEYS_ARG=${NEXT_PUBLIC_SYSTEM_LICENSE_KEYS}
        - NEXT_PUBLIC_BASIC_FEATURE_ARG=${NEXT_PUBLIC_BASIC_FEATURE}
        - NEXT_PUBLIC_SYSTEM_FEATURES_ARG=${NEXT_PUBLIC_SYSTEM_FEATURES}
        - NEXT_PUBLIC_SYSTEM_USERS_ARG=${NEXT_PUBLIC_SYSTEM_USERS}
    restart: always

    # --- CẤU HÌNH GIỚI HẠN TÀI NGUYÊN ---
    deploy:
      resources:
        limits:
          # Giới hạn cứng 512MB (Khá chặt).
          # Đây là sự đánh đổi để dành RAM cho MongoDB/MSSQL.
          # Nếu app crash thường xuyên, hãy tăng lên 768M.
          memory: 384M
          
          # Giới hạn CPU ở mức 1.5 nhân (150%).
          # Ngăn chặn NextJS chiếm dụng 300% CPU gây treo toàn bộ VPS.
          cpus: '1.50'
        reservations:
          memory: 128M
    # ------------------------------------

    networks:
      - web-proxy
    env_file:
      - .env.production
    depends_on:
      - fastapi

networks:
  web-proxy: {}