version: "3.7"

services:
  # ==========================================
  # 1. NGINX - Giữ nguyên vì Nginx cực nhẹ
  # ==========================================
  nginx:
    image: "nginx:latest"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    deploy:
      resources:
        limits:
          memory: 256M # Tăng lên một chút để xử lý SSL/Caching tốt hơn
        reservations:
          memory: 64M
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/templates/default.conf.template
      - ./ssl:/etc/nginx/ssl
    networks:
      - web-proxy
    depends_on:
      - fastapi
      - nextjs
    env_file:
      - .env.production
    command: /bin/sh -c "envsubst '$$DOMAIN_NAME' < /etc/nginx/templates/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

  # ==========================================
  # 2. FASTAPI - Cần RAM để xử lý Data/Pandas
  # ==========================================
  fastapi:
    build:
      context: ./finext-fastapi
      dockerfile: Dockerfile
    restart: always
    deploy:
      resources:
        limits:
          memory: 2G 
          cpus: '1.5' # Giới hạn 1 nhân để không làm treo database
        reservations:
          memory: 256M
    networks:
      - web-proxy
    env_file:
      - .env.production

  # ==========================================
  # 3. NEXTJS - "Kẻ ngốn RAM" thực thụ
  # ==========================================
  nextjs:
    build:
      context: ./finext-nextjs
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_API_URL_ARG=${NEXT_PUBLIC_API_URL}
        - NEXT_PUBLIC_GOOGLE_CLIENT_ID_ARG=${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
        - NEXT_PUBLIC_SYSTEM_LICENSE_KEYS_ARG=${NEXT_PUBLIC_SYSTEM_LICENSE_KEYS}
        - NEXT_PUBLIC_BASIC_FEATURE_ARG=${NEXT_PUBLIC_BASIC_FEATURE}
        - NEXT_PUBLIC_SYSTEM_FEATURES_ARG=${NEXT_PUBLIC_SYSTEM_FEATURES}
        - NEXT_PUBLIC_SYSTEM_USERS_ARG=${NEXT_PUBLIC_SYSTEM_USERS}
    restart: always
    deploy:
      resources:
        limits:
          memory: 2G 
          cpus: '2.0' # Cho phép dùng 2 nhân để Render UI nhanh hơn
        reservations:
          memory: 512M
    networks:
      - web-proxy
    env_file:
      - .env.production
    depends_on:
      - fastapi

networks:
  web-proxy: {}