/* A clone from joshwcomeau.com but this version runs on pure CSS, adapted for React */

.themeToggle {
  color: #bbb;
  width: 24px; /* Giảm kích thước để vừa với IconButton */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sunMoonContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.sunMoonContainer svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.62, 0.07, 0.1, 1.49);
  transform: rotate(40deg);
}

.sunMoonContainer .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.sunMoonContainer .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.sunMoonContainer svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.sunMoonContainer .sunRay2 {
  animation-delay: 0.05s !important;
}
.sunMoonContainer .sunRay3 {
  animation-delay: 0.1s !important;
}
.sunMoonContainer .sunRay4 {
  animation-delay: 0.17s !important;
}
.sunMoonContainer .sunRay5 {
  animation-delay: 0.25s !important;
}
.sunMoonContainer .sunRay6 {
  animation-delay: 0.29s !important;
}

/* Đây là phần thay đổi quan trọng: dùng class .isDark thay cho :checked */
.isDark svg {
  transform: rotate(90deg);
}
.isDark svg mask > circle {
  transform: translate(16px, -3px);
}
.isDark svg .sunMoon {
  transform: scale(0.55);
}
.isDark svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}