<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Tài khoản Finext đã được kích hoạt</title>
</head>

<body>
    <p>Xin chào {{ full_name }},</p>
    <p>Tài khoản Finext của bạn đã được kích hoạt thành công.</p>
    <p>Bạn có thể đăng nhập bằng địa chỉ email và mật khẩu đã đăng ký tại địa chỉ: <a href="{{ login_url }}">{{ login_url }}</a></p>
    <p>Cảm ơn bạn đã tin tưởng và lựa chọn Finext.</p>
    <p>Trân trọng,<br>Đội ngũ Finext</p>
    <div class="footer">
        <p>Đây là Email tự động từ hệ thống Finext©{{ current_year }}</p>
        <p>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua finext.vn@gmail.com</p>
    </div>
</body>

</html>
