<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Yêu cầu tạo tài khoản Finext</title>
</head>

<body>
    <p>Xin chào {{ full_name }},</p>
    <p>Yêu cầu tạo tài khoản Finext của bạn đã được ghi nhận thành công.</p>
    <p><strong>Đội ngũ Finext sẽ xác nhận tài khoản trong vòng 1 giờ.</strong> Khi tài khoản được kích hoạt, bạn có thể đăng nhập bằng email và mật khẩu đã đăng ký.</p>
    <p>Nếu bạn không gửi yêu cầu này, vui lòng bỏ qua email.</p>
    <p>Trân trọng,<br>Đội ngũ Finext</p>
    <div class="footer">
        <p>Đây là Email tự động từ hệ thống Finext©{{ current_year }}</p>
        <p>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua finext.vn@gmail.com</p>
    </div>
</body>

</html>
